.container {
    width: 1400px;
    max-width: 856px;
    margin: 0 auto;
}

.body, html {
    font-family: Inter, sans-serif;
}


.header__nav-item {
    margin-right: 72px;
    font-weight: 400;
    color: #000000;
    display: inline-block;
    text-align: center;
}

.header-nav {
    margin-left: 70px;
    padding: 32px 0;
}


.header__nav-item:last-child {
    margin-right: 0;
}

.header__nav-link {
    text-decoration: none;
    color: #000000;
    font-size: 18px;

}

.header__nav-link a:visited {
    color: #000000;
}


.container__img {
    background: #00BDC9;
    text-align: center;
    padding: 92px 0;

}

.header__nav-list {
    margin: 0;
}

.main__about-as {
    padding: 88px 0;
}

.about__as-title {
    font-weight: 600;
    font-size: 48px;
    text-align: center;
    margin: 0 0 40px 0;
}

.about__us-text {
    font-weight: 500;
    font-size: 21px;
    margin-bottom: 24px;

}

.text-color {
    color: #04959E;
}

.about__us-item {
    font-weight: 400;
    font-size: 18px;

}

.about__us-items {
    margin-bottom: 40px;
}

.main__btn {
    width: 145px;
    height: 44px;
    background: #04959E;
    border: none;
    color: #ffff;
    font-size: 18px;
    font-weight: 400;
    margin: 0 auto;
    display: block;

}

.container__footer {
    border-top: 1px #161616 solid;

}

.footer__content {
    text-align: center;

}