body {
  font-family: Montserrat;
  // font-weight: 500px;
  font-size: 18px;
}

.container {
  max-width: 1590px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
