.header {
  &__top {
    background-color: var(--dark);
    color: #fff;
    padding-top: 25px;
    padding-bottom: 25px;
  }
  &__top-container {
    display: flex;
    align-items: center;
    gap: 20px;
    // position: relative;
  }
}

.icon__menu-wrap {
  display: none;
}

.top__header-menu {
  flex: 1 1 auto;
}

.menu__list {
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  column-gap: 60px;
  row-gap: 5px;
  padding-left: 0;
}
.menu__item {
  list-style: none;
}
.menu__burger-wrap {
  display: none;
}
.top__header-user {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  display: inline-flex;
  align-items: center;
  gap: 15px;
  &:hover {
    text-decoration: underline;
  }
}
.icon__user {
  max-width: none;
}

.menu-cart {
  width: 27px;
  height: 27px;
  margin-right: 15px;
}

.menu__link {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  &:hover {
    text-decoration: underline;
  }
}

.logo {
  margin-right: 3em;

  @media (max-width: 1200px) {
    margin-right: 1em;
  }
}

/*-------------------860-----------------*/

@media (max-width: 860px) {
  .icon__menu-wrap {
    display: flex;
    flex: 1;
    justify-content: space-around;
    align-items: center;
    z-index: 11;
  }
  .top__header-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #000;
    z-index: 9;
    opacity: 1;
    padding: 200px 0 0 0;
    display: none;
    opacity: 0;
    transition: opasity 0.3s ease;
  }
  .top__header-menu.active {
    display: block;
    opacity: 1;
  }
  .logo {
    z-index: 9;
    margin-right: 0;
    padding-left: 20px;
  }
  .header__body {
    background-color: #fff;
    z-index: 9;
    position: fixed;
    width: 100%;
  }
  .menu__list {
    display: flex;
    flex-direction: column;
    padding: 20px 0 0 20px;
  }
  .menu__link:hover {
    text-decoration: none;
  }

  .menu__burger-wrap {
    display: block;
  }
  .menu__item-btn {
    background: transparent;
    color: #fff;
    border: none;
    padding-left: 20px;
    font-size: 16px;
    position: relative;
    margin-bottom: 0;
    margin-top: 30px;
    &::after {
      content: "";
      background-image: url(../img/down-stroke.svg);
      background-repeat: no-repeat;
      width: 16px;
      height: 10px;
      position: absolute;
      top: 6px;
      right: -26px;
      transform: rotate(180deg);
      transition: transform 0.3s ease;
    }
  }
  .menu__item-btn.active::after {
    transform: rotate(0deg);
  }

  .menu__item-link {
    font-size: 16px;
    margin-bottom: 30px;
  }
  .menu__item-link:last-child {
    margin-bottom: 0;
  }
  .menu__item {
    margin-bottom: 15px;
  }

  .menu__item-burger {
    list-style: none;
    padding-left: 0;
    padding: 20px 0 0 20px;
    max-height: 500px;
  }
  .top__header-user {
    display: none;
  }
  .icon__menu {
    width: 50px;
    height: 50px;
    background-color: transparent;
    top: -36%;
    right: 0;
    order: 1;
    cursor: pointer;
    border: none;
    user-select: none;
  }
  .icon__menu span {
    width: 40px;
    height: 4px;
    background-color: #ffffff;
    display: block;
    border-radius: 3px;
    margin-bottom: 6px;
    left: 50%;
    top: 6%;
    pointer-events: none;
    transform: translate(-50%);
  }
  .icon__menu span:last-of-type {
    margin-bottom: 0;
  }
  .icon__menu span:nth-child(1),
  .icon__menu span:nth-child(3) {
    transition: all 0.3s ease;
  }
  .icon__menu.active span:nth-child(1) {
    top: 50%;
    transform: rotate(-45deg) translateX(-40%);
  }
  .icon__menu.active span:nth-child(2) {
    transform: scale(0);
  }
  .icon__menu.active span:nth-child(3) {
    top: 50%;
    transform: rotate(45deg) translateX(-30%);
  }
}
.icon__menu-cart {
  position: relative;
  &::after {
    content: "0";
    background-image: url(../img/cart_circle.svg);
    background-repeat: no-repeat;
    width: 14px;
    height: 14px;
    font-weight: 500;
    font-size: 8px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 5px;
  }
}

/*------HEADER-BODY------------------*/

.header__body {
  background-color: #ecf1f2;
}

.header__container {
  display: flex;
  padding-top: 24px;
  padding-bottom: 22px;
  align-items: center;
  justify-content: space-between;
}
.body__header-search {
  flex: 1 1 auto;
}
.header-search {
  position: relative;
  max-width: 377px;
}
.header-search__button {
  position: absolute;
  top: 0;
  left: 8px;
  width: 41px;
  height: 41px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 1;
  &::before {
    content: "";
    background-image: url(../img/searchsvg.svg);
    background-repeat: no-repeat;
    width: 11px;
    height: 11px;
  }
}
.header-search__input {
  border-radius: 3px;
  height: 41px;
  width: 100%;
  background-color: rgba(7, 7, 7, 0.03);
  border: 1px solid rgba(4, 4, 4, 0.5);
  position: relative;
  padding: 0 20px 0 69px;
  color: rgba(20, 20, 20, 0.5);
  margin-right: 10%;

  &::placeholder {
    font-weight: 500;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
    left: 13%;
    position: absolute;
    top: 25%;
    margin-left: 25px;
  }
}

.body__header-location {
  display: flex;
  align-items: flex-end;
  column-gap: 10px;
  font-weight: 600;
  font-size: 18px;
  color: #000;
  text-decoration: none;
  margin-right: 55px;
  margin-left: 15px;
  &:hover {
    span {
      text-decoration: underline;
    }
  }
}

.body__header-box {
  &::before {
    content: "";
    background-image: url(../img/down-stroke.svg);
    background-repeat: no-repeat;
    width: 16px;
    height: 10px;
    display: block;
  }
}

.body__header-call {
  background-color: transparent;
  border: none;
  padding: 0;
  position: relative;
  margin-right: 49px;

  &::after {
    content: "";
    background-image: url(../img/down-stroke.svg);
    background-repeat: no-repeat;
    display: block;
    width: 16px;
    height: 10px;
    position: absolute;
    top: 4px;
    right: -26px;
    cursor: pointer;
    transform: rotate(180deg);
    transition: transform 0.3s ease;
  }
}
.body__header-call.active::after {
  transform: rotate(0deg);
}

.body__header-phone {
  font-weight: 600;
  font-size: 18px;
  text-decoration: none;
  color: #000;
  margin-bottom: 3px;
  // white-space: nowrap;
  color: #000;
  cursor: pointer;
}

.body__header-inner {
  position: relative;
}
.header-phone__list {
  padding-left: 0;
  padding-top: 15px;
  list-style: none;
  position: absolute;
  top: 100%;
  width: 100%;
  left: 0;
  margin-top: 0;
  margin-bottom: 0;
  background-color: #fff;
  border-radius: 5px;
  text-align: center;
}
.hidden {
  display: none;
  opacity: 0;
  transition: opacity 3s ease;
}
.visible {
  display: block;
  opacity: 1;
}
.header-phone__item {
  margin-bottom: 7px;
}
.header-phone__link {
  text-decoration: none;
  color: #000;
  &:hover {
    text-decoration: underline;
  }
}
.body__header-txt {
  font-weight: 700;
  font-size: 18px;
  color: #e8aa31;
  margin: 0;
  white-space: nowrap;
  padding-bottom: 10px;
  &:hover {
    text-decoration: underline;
  }
}

.body__header-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  &::after {
    content: "0";
    background-image: url(../img/cart_circle.svg);
    background-repeat: no-repeat;
    position: absolute;
    width: 14px;
    height: 14px;
    font-weight: 500;
    font-size: 8px;
    color: #fff;
    top: 0;
    left: 93px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.header-cart__heart {
  display: flex;
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-right: 30px;
}

.header-cart__cart {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  margin-right: 16px;
}

.header-cart__sum {
  margin: 0 0 5px 0;
}

@media (max-width: 998px) {
  .header-cart__wrap {
    display: none;
  }
}

.header-cart__text {
  margin: 0;
  white-space: nowrap;
  font-weight: 500;
  font-size: 16px;
  color: #e8aa31;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

/*-------------------860-----------------*/

@media (max-width: 860px) {
  .body__header-search {
    display: none;
  }
  .body__header-location {
    display: none;
  }
  .body__header-call {
    display: none;
  }
  .body__header-cart {
    display: none;
  }
}
/*-------HEADER-CATALOG-------------*/

.header__catalog {
  background-color: var(--dark);
  padding-top: 25px;
  padding-bottom: 0;
}
.menu__catalog-item {
  margin-bottom: 20px;

  &:after {
    content: "";
    width: 70%;
    height: 2px;
    margin: 14px 0;
    background-color: var(--orange);
    display: block;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
  }
}
.menu__catalog-item:hover::after {
  opacity: 1;
  visibility: visible;
}
.menu__catalog-list {
  padding-left: 0;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  column-gap: 15px;
  margin: 0;
}

.menu__catalog-link {
  font-weight: 500;
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  background: transparent;
  border: none;
  transition: all 0.5s;
  &:hover {
    color: var(--orange);
  }
}

.sub-menu-catalog__category {
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  padding-bottom: 30px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  &:hover {
    text-decoration: underline;
  }
}

.sub-menu-catalog__list {
  flex: 1 1 auto;
  padding-left: 0;
  list-style: none;
  margin-top: 30px;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  gap: 20px;
}
.sub-menu-catalog__item:last-child {
  margin-bottom: 70px;
}
.sub-menu-catalog__link {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  &:hover {
    text-decoration: underline;
  }
}

.sub-menu-catalog__all {
  text-decoration: none;
  font-size: 16px;
  padding-bottom: 30px;
  color: var(--orange);

  &:hover {
    text-decoration: underline;
  }
}

.sub-menu-catalog__block {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 15px;
  justify-content: space-between;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 0.5s ease, max-height 0.5s ease;
}
.sub-menu-catalog__block.active {
  opacity: 1;
  max-height: 1100px;
}

/*--------------860-----------------*/

@media (max-width: 860px) {
  .menu__catalog-list {
    display: none;
  }
  .header__catalog {
    padding-top: 0;
  }
}
