.slider {
  position: relative;
  background-image: url(../img/bg.png);
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
}
.swiper-slide__elipse {
  position: absolute;
  top: 5%;
  left: 30%;
}
.swiper-slide__elipse2 {
  position: absolute;
  top: 50%;
  left: 55%;
}

.top-slide__inner {
  display: flex;
  justify-content: space-between;
  margin-top: 44px;
  margin-bottom: 48px;
}
.slide__img-wrap {
  position: relative;
  display: inline-block;
}

.slide__img-wrap::after {
  content: "";
  background-image: url(../img/hero-decor2.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 109%;
  height: 100%;
  position: absolute;
  top: 100px;
  left: 24px;
  pointer-events: none;
}

.slide__list {
  padding-left: 0;
  margin: 0 0 0 0;
  list-style: none;
  display: flex;
  column-gap: 140px;
  justify-content: space-between;
  align-items: center;
}
.top-slide__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 128%;
  letter-spacing: 0.03em;
  display: block;
  color: #fff;
  margin-top: 44px;
  margin-bottom: 15px;
}
.slide__title-txt {
  font-size: 26px;
  font-weight: 500;
  color: #fff;
}
.slide__subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 60px;
  max-width: 915px;
}
.slide__subtitle-txt {
  font-size: 20px;
}

.slide__btn {
  border-radius: 3px;
  width: 228px;
  height: 50px;
  box-shadow: 0 4px 20px 0 rgba(232, 170, 49, 0.43);
  background: #e8aa31;
  font-weight: 600;
  font-size: 20px;
  line-height: 230%;
  color: #fff;
  cursor: pointer;
}

.slide__txt {
  font-weight: 600;
  font-size: 20px;
  line-height: 160%;
  text-align: center;
  color: #fff;
}

.slide__img {
  display: block;
  margin: 0 auto;
}

.swiper-pagination__custom {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.swiper-pagination__custom span {
  width: 18px;
  padding-top: 2px;
  padding-bottom: 2px;
  background-color: #fff;
  margin-right: 20px;
  cursor: pointer;
  position: relative;
}

.swiper-pagination__custom span.active {
  background-color: var(--orange);
}

.swiper-pagination__custom span.active::after {
  content: "";
  border-radius: 100%;
  background-color: var(--orange);
  width: 10px;
  height: 10px;
  position: absolute;
  top: 50%;
  left: -27%;
  transform: translate(-50%, -50%);
}
